#projects-container {
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-flow: column wrap;
  max-width: 1240px;
}
#projects-container h2 {
  margin-block-end: 1em;
  font-size: 3em;
}
.project-card {
  position: relative;
  min-width: 25%;
  min-height: 540px;
  box-shadow: rgb(0, 0, 0) 0px 2px 8px 0px;
  background-color: #282139;
  border-radius: 0.8em;
  border-top: 2px solid red;
  display: flex;
  max-width: 20%;
  align-items: center;
  flex-flow: column wrap;
  gap: 2em;
  padding: 2em;
  transition: transform 0.4s ease-in-out, border-top 0.8s ease-in-out;
  transform: translateY(0%);
}
.project-card:hover {
  border-top: 2px solid white;
  transform: translateY(-2%);
}
.project-card h3 {
  min-width: 100%;
  font-size: 1.5em;
  display: flex;
  max-width: 20%;
  align-items: center;
  flex-flow: column wrap;
}
.card-button {
  display: flex;
  gap: 1em;
}
.card-link {
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
  color: black;
  position: relative;
  right: 0;
  bottom: 0;
}
.demo-style {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 1.2em;
  font-weight: 800;
  background-color: #b0d182;
  color: black;
  text-decoration: none;
  border-top: 2px white solid;
  border-radius: 0.5em;
  padding-inline: 1em;
}
.demo-style:hover {
  transform: translateY(-5%);
}
.link-logo {
  display: flex;
  justify-content: center;
  top: auto !important;
  left: auto !important;
  position: relative !important;
}

.projet-intro {
  text-align: justify;
}
.projet-challenge {
  min-width: 100%;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-subtitle {
  display: flex;
  justify-content: flex-start;
  font-size: 1em;
  font-weight: 600;
  padding: 0px;
}
.project-list {
  padding: 0;
}
.project-skill {
  padding-inline-start: 0.1em;
  margin-inline-start: 1em;
}

.project-skill::marker {
  padding-inline-start: 1em;
}
#row {
  flex-flow: row wrap;
  gap: 3em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
