@import url("../../styles/_GlobalVariables.css");

.join-me-title {

  color: var(--main-color);
  font-weight: 800;
  font-size: 3em;
}
.join-me-style {
  max-width: 1240px;
  min-width: 98%;
  display: flex;
  justify-content: space-around;
}
