.join-me-title {
  color: white;
  font-weight: 800;
  font-size: 2em;
}
.join-me-style {
  max-width: 1240px;
  min-height: 20vh;
  min-width: 98%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 2em;
}
