@import url("../../styles/_GlobalVariables.css");

#navbar {
  position: relative;
  max-width: 1240px;
  justify-content: space-between;
  border-bottom: 2px solid var(--third-bg-color);
  min-height: 4em;
  border-radius: 0 0 0.5em 0.5em;
  box-shadow: var(--secondary-color) 0px -2px 8px 0px;
  background-color: var(--main-bg-color);
}
#navbar,
#navbar-list,
.navbar-link,
.navbar-title,
.navbar-item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.navbar-link,
.navbar-item {
  justify-content: center;
}
.navbar-title {
  padding-inline-start: 1em;
  font-size: 2em;
  color: var(--third-color);
}
#navbar-list {
  justify-content: flex-end;
  gap: 1em;
  padding-inline-end: 2em;
  width: 50%;
}
.navbar-item {
  display: flex;
  justify-content: center;
  margin-inline-start: 2em;
  width: 32%;
}
.navbar-link {
  justify-content: center;
  color: var(--main-color);
  text-decoration: none;
}
.navbar-burger {
  display: none;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: blueviolet;
}
@media (max-width: 1250px) {
  #navbar {
    min-width: 95%;
    max-width: 95%;
  }
  #navbar-list {
  }
  .navbar-item {
  }
}
@media (max-width: 450px) {
  #navbar-list {
    padding-block: 14em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: #282139;
    z-index: 1;
    visibility: hidden;
    top: -100vh;
    transition: top 1s ease-in-out;
  }
  #navbar-list.active {
    top: 0;
    visibility: visible;
  }

  .navbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline-start: 0;
    width: auto;
    font-size: 2em;
    margin: 0;
    min-height: 2%;
    height: 100%;
  }
  .navbar-link{
    min-width: 60vw;
    max-height: 5vh;
    min-height: auto;
  }
  .navbar-burger {
    padding-block-end: 0.1em;
    padding-inline-end: 5em;

    display: inline-block;
    height: 40px;
    min-height: auto;
    z-index: 1;
  }
  .burger-bar,
  .burger-bar:before,
  .burger-bar:after {
    z-index: 2;
    display: block;
    width: 40px;
    height: 5px;
    min-height: auto;
    position: absolute;
    border-radius: 0.5em;
    background: white;

    transition: all 0.5s ease-in-out;
  }

  .burger-bar::before,
  .burger-bar::after {
    content: "";
    left: 0;
  }
  .burger-bar::before {
    transform: translateY(-12px);
    background: var(--third-bg-color);
  }
  .burger-bar::after {
    transform: translateY(12px);
    background: var(--secondary-bg-color);
  }
  .active .burger-bar::before {
    transform: rotate(45deg);
  }
  .active .burger-bar::after {
    transform: rotate(-45deg);
  }
  .active .burger-bar {
    background: transparent;
  }
}
