@import url("../../styles/_GlobalVariables.css");

#intro,
#intro-description,
#intro-name,
#intro-title,
#resume {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 800;
}
#intro-name,
#intro-title {
  font-size: 2em;
}
#intro-title,
#intro-list {
  color: var(--main-color);
}
#intro,
#resume,
#github,
#linkedin {
  border-top: 2px solid var(--main-color);
  border-radius: 0.5em;
  box-shadow: var(--secondary-color) 0px 2px 8px 0px;
}
#github:hover,
#linkedin:hover,
#resume:hover {
  transform: translateY(-5%);
}
#github,
#linkedin {
  padding: 0.5em;
  top: 0;
  left: 0;
  position: absolute;
  max-width: 36px;
  max-height: 36px;
  min-height: 36px;
}
#intro {
  flex-direction: column;
  padding-block: 2em;
  background-color: var(--main-bg-color);
  width: 100%;
  max-width: 1240px;
  max-height: 340px;
}
#intro-title {
  padding: 1em 0 0 1em;
}
#intro-name {
  color: var(--third-color);
  margin-inline: 0.2em;
  margin-block-start: -0.3em;
}
#intro-description {
  margin-block-start: 2em;
  width: 45%;
  margin-inline-start: 1em;
}
#intro-list {
  display: flex;
  gap: 2em;
  margin-block-start: 2em;
  text-decoration: none;
}
.intro-link {
  position: relative;
  min-width: 2em;
  height: 36px;
  padding: 0.6em;
}
#resume {
  font-size: 1.2em;
  font-weight: 800;
  background-color: var(--third-color);
  color: var(--secondary-color);
  text-decoration: none;
  height: 29px;
}
#github {
  background-color: var(--secondary-bg-color);
}
#linkedin {
  background-color: var(--third-bg-color);
}
@media (max-width: 1250px) {
  #intro {
    flex-wrap: wrap;
    padding: 4em 3em;
    max-width: 82%;
    min-height: 800px;
  }
  #intro-title {
    flex-wrap: wrap;
  }
  #intro-description {
    width: 90%;
    font-size: 2em;
  }
}
@media (max-width: 768px) {
  #intro {
    flex-wrap: wrap;
    max-width: 82%;
    min-height: 750px;
    padding: 0 1em;
  }
  #intro-description {
    font-weight: 500;
    font-size: 1.5em;
    font-weight: 500;
  }
  #intro-name {
    color: var(--third-color);
    margin-inline: 0.2em;
    margin-block-start: -0.3em;
    font-size: 1.5em;
  }
}
@media (max-width: 450px) {
  #intro {
    max-width: 90%;
    min-height: 500px;
    padding: 0;
  }
  #intro-title {
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 ;
    font-size: 1.8em;
  }
  #intro-description {
    width: 90%;
    font-size: 0.8em;
    margin: 0;
  }
  #resume {
    height: 21px;
  }
  #github,
  #linkedin {
    max-width: 28px;
    max-height: 28px;
    min-height: 28px;
  }
  #intro-name {
    color: var(--third-color);
    margin-inline: 0.2em;
    margin-block-start: -0.3em;
    font-size: 1.5em;
  }
  #intro-list {
    gap: 1em;
  }

}
