@import url("../../styles/_GlobalVariables.css");
.email,
.email-icon-block,
.email-button {
  display: flex;
}
.email-title,
.email-button,
.email-details {
  min-height: 5%;
}
.email-icon-block {
  min-height: 23%;
  justify-content: center;
  align-items: center;
}
.email {
  min-height: 100%;
  margin-block: 2em;
  flex-flow: column nowrap;
  text-align: center;
  padding-inline: 1em;
  gap: 2em;
}
.email-icon {
  width: 25%;
}
.email-title {
  color: var(--main-color);
  font-weight: 800;
  font-size: 1.5em;
}
.email-details {
  font-weight: 500;
}
.email-button {
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  font-size: 1.2em;
  font-weight: 800;
  background-color: var(--third-color);
  text-decoration: none;
  border-radius: 0.5em;
  padding: 1em 0.5em;
  box-shadow: var(--secondary-color) 0px 2px 8px 0px;
  border-top: 2px solid var(--main-color);
}
.email-button:hover {
  transform: translateY(-5%);
}
